/* custom styles */
div.menu {
    min-height: auto;
    position: fixed;
    width: 180px;
    background: rgb(162,127,19);
    border-radius: 1px 50px 50px 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img.Logo {
   height: 115px;
    margin-top: 50px;
}
img.Domov{
    height: 25px;
}
img.Banner{
    height: 25px;
}
img.Club{
    height:25px;
}
div.nav-bar{
    margin: 25px;
}
aside.nav-bar{
    margin: 25px;
}
#banner-bar{
    padding-top: 30px;
}
#club-bar{
    padding-top: 30px;
}
#news-bar{
    padding-top: 30px;
}

#news-bara {
    padding-top: 30px;
}
#domov-bar{
    padding-top: 70px;
}

#router-view{
    min-height: 100vh;
}

a.nav-bar-links{
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
}
img.titulna-foto{
    height: 280px;
    border-radius: 40px 40px 40px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body{
    background-color: white;
    margin: 0px;
    min-height: 100%;
    width: 100%;
}

html{
    margin: 0px;
    height: 100%;
    width: 100%;
}
div.titulka{
    padding-top: 30px;
    margin-left: 200px;
}
div.closest-match{
    padding-top: 20px;
    margin-left: 200px;
}
p.close-match{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 20px;
    padding-top: 40px;
    margin-left: 20px;
}
div.close-match-1{
    width: 250px;
    height: 80px;
    margin-left: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px 30px 30px 30px;
}
p.zapasy{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 10px;
    margin-left: 15px;
    padding-top: 10px;
    width: 40%;
}
div.someting{
    margin-left: 150px;
}
p.clanok-nadpis{
    font-size: 45px;
    text-align: center;
}
div.layout-clanok{
    margin-top: 30px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    border-radius: 30px 30px 30px 30px;
}

div.layout-clanok2{
    font-family: Montserrat;
    margin-left: 25px;
    text-align: center;
    margin-top: 31px;
    height: 325px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table.poradie{
    margin-top: 30px;
    margin-left: 26rem;
    width:450px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
p.clanok-content1{
    font-family: Montserrat;
    margin-left: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
}
li.list-header{
    font-size: 25px;
    background-color: rgb(162,127,19);
}

div.date-match{
    float: right;
    background-color: rgb(162,127,19);
    height: 80px;
    width: 80px;
    border-radius: 15px 30px 30px 15px;
}
p.date-of-match{
    font-family: Montserrat;
    color: white;
    text-align: center;
    padding-top: 16px;
}
div.snehuliak{
   padding-top: 280px;
    padding-left: 280px;
}

div.test-fix{
    padding-left: 200px;
}
footer.footer {
    text-align: center;
    float: right;
    height: auto;
    border-radius: 15px 30px 30px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

p.footer-copy{
   margin-top: 18px;
}

p.footer-email{
    margin-top: 12px;
}
div.footer-fix{
    width: 100%;
    height: 45px;
}

div.close-match-nadpis{
    padding-left: 220px;
}

div.clanok-2-fix{
    padding-left: 200px;
}
table.main-tabulka{
    width:0.1%;
    white-space: nowrap;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin-left: 4rem;


}

@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}


form.formular{
    width: 30%;
    margin-left: 29rem;
    padding-top: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 2rem;
    border-radius: 30px 30px 30px 30px;
}
div.form-group{
    padding-left: 15px;
}

fieldset.form-group{
    padding-left: 15px;
}

#artOpinions{
    margin-left: 500px;
    border-radius: 40px 40px 40px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 30%;
}

div.clanky-test{
    margin-left: 200px;
}
p.pridane{
    text-align: center;
    word-wrap: break-word;


}
article.article-dizajn{
    border-radius: 40px 40px 40px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0.3rem;
    margin-bottom: 1rem;
    text-align: center;
}

a.article-link-dizajn{
    color: black;
}
p.nadpis-komentare{
    text-align: center;
    font-size: 2rem;
    word-wrap: break-word;

}

body.klub{
    background-image: linear-gradient(
            #0D6AB7,
            #DA3F94
    );
}

form.articleaddform{
    width: 50%;
    margin-left: 17rem;
    padding-top: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   padding-bottom: 2rem;
    border-radius: 30px 30px 30px 30px;

}

h2.center{
    text-align: center;

}

label.articlepadingtext{
    padding-left: 1rem;

}



input.scriptTest{
    width: 70%;
}

